/* reset */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* fim reset */

/* header */
.elemento {
    width: 100vw;
    height: 105px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 66.58px;
    height: 66.58px;
    margin-left: 45px;
    margin-right: 20px;
}

.nome {
    width: 310.52px;
    height: 48.69px;
}

@font-face {
    font-family: 'fonti';
    src: url(font/big_noodle_titling.ttf);
}

.botão1 {
    font: 200 24px 'fonti', sans-serif;
    margin-left: 58px;
    margin-right: 90px;
    color: black;
}

.botão1:hover {
    color: #da6025;
    border-bottom: 3px solid black;


}

a {
    margin: 0;
    text-decoration: none;
}

.botão2 {
    font: 200 24px 'fonti', sans-serif;
    margin-right: 90px;
    color: black;
}

.botão2:hover{
    border-bottom: 3px solid black;
}

.botão3 {
    font: 200 24px 'fonti', sans-serif;
    margin-right: 90px;
    color: black;
}

.botão3:hover{
    border-bottom: 3px solid black;
}

.botão4{
    font: 200 24px 'fonti', sans-serif;
    color: black;

}

#link{
    color: black;
}

#link:hover{
    color: #da6025;
    
    border-bottom: 3px solid black;
}

.ink{
    color: black;
}